@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dokmai-light";
  src: url("../assets/fonts/dokmai-light.ttf") format("woff2");
}
@font-face {
  font-family: "dokmai-regular";
  src: url("../assets/fonts/dokmai-regular.ttf") format("woff2");
}
@font-face {
  font-family: "dokmai-italic";
  src: url("../assets/fonts/dokmai-italic.ttf") format("woff2");
}
@font-face {
  font-family: "dokmai-bold";
  src: url("../assets/fonts/dokmai-bold.ttf") format("woff2");
}
@font-face {
  font-family: "dokmai-bold-italic";
  src: url("../assets/fonts/dokmai-bold-italic.ttf") format("woff2");
}
@font-face {
  font-family: "dokmai-bold-rounded";
  src: url("../assets/fonts/dokmai-bold-rounded.ttf") format("woff2");
}
