@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  .animate-fadeOut {
    animation: fadeOut 0.3s ease-out forwards;
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 900;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Black.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 900;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 100;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Hairline.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 100;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-HairlineItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Light.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 300;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 200;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 200;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-ThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/AktivGrotesk-XBold.otf') format('opentype');
}

@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 800;
  font-style: italic;
  src: url('../assets/fonts/AktivGrotesk-XBoldItalic.otf') format('opentype');
}

.__stroke {
  font-size: 48px; /* Adjust the size as needed */
  -webkit-text-stroke: 0.5px #b9fe13; /* 1px stroke with black color */
  color: transparent; /* Makes the fill transparent */
}

.__container {
  @apply max-w-[1140px];
}

a:focus,
button:focus,
img:focus {
  @apply focus:outline-none focus:ring-0;
}

.__nofocus {
  @apply focus:!outline-none focus:!ring-0 focus:!border-none;
}

body::-webkit-scrollbar {
  @apply h-0 w-0;
}
.__noscrollbar::-webkit-scrollbar {
  @apply h-0 w-0;
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(20px, -30px) rotate(15deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg); /* Matches the starting state */
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shimmer {
  animation: shimmer 3s ease-in-out infinite;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.__dokmai_scrollbar::-webkit-scrollbar {
  @apply w-1 h-1;
}

.__dokmai_scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary hover:bg-primary/70 shadow;
}

.__dokmai_scrollbar::-webkit-scrollbar-track {
  @apply bg-primary/40;
}
